.insta {
    display: block;
    height: 100px;
    width: 100px;
}

.insta svg {
    width: 100%;
    height: 100%;
}

.insta svg path {
    fill: black;
}

.insta:hover svg path {
    fill: white;
}