:root {
    --white: #fff;
    --active-color: #00aeb0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
      font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background: var(--active-color);
      transition: background 0.4s ease;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
  }

/* LEFT */

.audio-container {
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.audio-player {
    background-color: #ff4500;
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 80%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
    margin: auto;
    color: var(--white);
  }
  
.track-info {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    min-width: 70%;
    text-align: center;
    z-index: 1;
    position: relative;
    padding-bottom: 1rem;
  }
  
.title {
    font-weight: 700;
    margin-bottom: 4px;
  }
  
.artist {
    font-weight: 300;
    margin-top: 0;
  }

.artwork {
  /* border-radius: 120px; */
  display: block;
  margin: 25px auto;
  height: 100%;
  width: 100%;
}

/* RIGHT */

.track-list {
    width: 100%;
}

.track-list ul {
    list-style-type: none;
}

.track-list h3 {
    cursor: pointer;
    margin-top: 10px;
}

.active {
    color: black;
}

input[type=range] {
    -webkit-appearance: none;
    width: 50%;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#ff4500, #ff4500);
    background-size: 70% 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -8px; 
    background-color: #5cd5eb;
    height: 1.5rem;
    width: 1rem;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    height: 0.5rem;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    height: 0.5rem;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

.navigation {
    width: 100%;
}

.navigation_wrapper {
        min-width: 100%;
        background-color: rgba(119, 119, 119, 0.781);
        height: 5px;
        border-radius: 30px;
        cursor: pointer;
    }

.seek_bar{
    width: 0;
    height: 100%;
    background-color: rgb(24, 128, 3);
    border-radius: 30px;
}